

/* iconicfill */
[class*="iconicfill-"]:before {
  font-family: 'IconicFill', sans-serif;
}

.App {
  padding-top: 40px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.App__queue__2 {
    width: 90%;
    height: 30px;
    margin: 0 auto -19px;
    background-color: #65dfff;
    border-radius: 3px;
    opacity: .5;
}

.App__queue__1 {
  display: flex;
  margin: 0 auto -11px;
  width: 95%;
  height: 23px;
  background-color: #65dfff;
  top: 30px;
  opacity: .5;
  border-radius: 3px;
}
.App__todos {
  z-index: 2;
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0px 22px 59px -1px rgba(51,24,75,0.41);
  border-radius: 3px;
  font-family: 'Rubik', sans-serif;
  background-color: #65dfff;
}

.App__controls {
  width: 100%;
}

.todo__controls {
  display: flex;
  justify-content: flex-end;
  height: 35px;
  margin: 10px 0;
}

.todo__controls--btn {
  z-index: 2;
  cursor: pointer;
  padding: 0 14px;
  margin: 0px 5px;
  background-color: #37406d;
  color: #fff;
  font-size: 0.64em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.15em;
  line-height: 1;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-shadow: 0px 22px 33px -1px rgba(22,22,52,0.51);
  transition: all .5s ease;
}

.todo__controls--btn:last-child {
  margin-right: 0;
}

.todo__controls--btn.disabled {
  z-index: 1;
  color: #8096a9;
  background-color: #4b7292;
  box-shadow: 0px 0px 0px 0px rgba(22,22,52,0.51);
}

.todo__controls--btn.disabled:hover {
  color: #8096a9;
  background-color: #4b7292;
  box-shadow: 0px 0px 0px 0px rgba(22,22,52,0.51);
}

.todo__controls--btn:before {
  font-size: 2em;
  padding: 0 10px 0 0px;
  transition: all .5s ease;
  color: #03a9f4;
}

.todo__controls--btn.disabled:before {
  color: #8096a9;
}

.todo__controls--btn:hover {
  background-color: #2f3554;
  box-shadow: 0px 11px 23px -1px rgba(22,22,52,0.71);
  color: #ccc;
}

.todo__controls--btn:hover:before {
  font-size: 2em;
  padding: 0 10px 0 0px;
  color: #ccc;
}

.todo__controls--btn.disabled:hover:before {
  color: #8096a9;
}

.todo__input {
  display: flex;
  position: relative;
  background-color: #65dfff;
  padding: 0;
  opacity: 1;
  height: 75px;
  border-radius: 3px;
  transition: all .5s ease;
}

.todo__input.inserting {
  height: 0;
}

.todo__input--wrap {
  display: flex;
  position: absolute;
  top: 0;
  align-items: center;
  height: 75px;
  width: 100%;
  background-color: #fff;
  border-radius: 3px;
  transition: all .5s ease;
}

.inserting .todo__input--wrap {
  position: absolute;
  top: 15px;
}


.todo__input--btn {
    flex-grow: 3;
    font-size: 1.9em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    color: #00BCD4;
    transition: all .3s ease;
}

.todo__input--btn:hover {
    opacity: .7;
}

.todo__input--txt {
  flex-grow: 12;
  font-size: 1.15em;
  color: #ccc;
}

ul {
  position: relative;
}

.todo__element {
  position: relative;
  display: flex;
  background: #fff;
  transition: all .3s ease;
  border-top: 1px solid #efefef;
}

.todo__element.inserting {
    margin: 15px -20px;
    z-index: 3;
    box-shadow: 0px 22px 59px -1px rgba(51,24,75,0.41);
    border-top: 0;
    border-radius: 3px;
    padding: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0;
}

.todo__element--container {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 15px;
  height: 45px;
}

.todo__element.inserting .todo__element--delete {
  display: none;
}

.todo__element--checkbox {
  position: relative;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 0 25px 0 10px;
  transition: width .5s ease, height .5s ease;
  opacity: 1;
}
.todo__element--checkbox.inserting {
  width: 1px;
  height: 1px;
  opacity: 0;
}
.todo__element--checkbox:before {
  position: absolute;
  box-sizing: border-box;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #00BCD4;
  border-radius: 30px;
  transition: all .5s ease;
}
.todo__element--checkbox:hover:before {
  background-color: #00BCD4;
  opacity: .7;
}
.todo__element--checkbox.completed:before {
  background-color: #00BCD4;
}
.todo__element--checkbox.completed:hover:before {
  opacity: 1;
}

.todo__element--description {
  flex-grow: 1;
  position: relative;
}

.inserting .todo__element--text {
  display: none;
}

.todo__element--text {
  display: inline-block;
  font-size: 1.15em;
  color: #607d8b;
  margin: 0;
  padding: 0 3px;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.todo__element--text:hover {
  color: #607d8b;
  background: rgba(101, 223, 255, 0.3);
  border-radius: 3px;
}

.todo__element--text.completed {
  display: inline-block;
  position: relative;
  transition: all 0.5s cubic-bezier(.55, 0, .1, 1);
}

.todo__element--text.completed:after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: 0 1px rgba(255,255,255,0.6);
  margin-top: -0.6em;
  background: #607d8b;
  transform-origin: center left;
  animation: strikethrough 0.5s cubic-bezier(.55, 0, .1, 1) 1;
  transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

.todo__element--text.completed:hover {
  color: #607d8b;
  background: rgba(101, 223, 255, 0.3);
  border-radius: 3px;
}

.todo__element--text.completed:hover:after {
  transform: scaleX(0);
  transform-origin: center right;
}


.todo__element--delete {
  opacity: 0;
  transition: all .3s ease;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font-size: 1.4em;
  min-width: 30px;
  margin-top: 3px;
  text-align: center;
  color: #ccc;
}

.todo__element:hover .todo__element--delete {
  opacity: 1;
}

.todo__element--delete:hover {
  color: #f44336;
}

.edit-input {
  display: none;
  width: 100%;
}

.edit-input.editing {
  display: flex;
  position: absolute;
  padding: 0 3px;
  z-index: 5;
}

.edit-input.inserting {
  display: flex
}

.edit-input input {
    font-family: 'Rubik', sans-serif;
    font-size: 1.15em;
    font-weight: 300;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    line-height: 1.3;
    width: 100%;
}

.edit-input button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    font-weight: 500;
    color: #00BCD4;
}

.todo__filters {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 60px;
    background-color: #efefef;
    transition: all .5s ease;
}

.todo__filters.hidden {
    margin-top: -75px;
}

.todo__filters--btn {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .76em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.todo__filters--btn.active {
  font-weight: 700;
  border-bottom: 2px solid #03a9f4;
}

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
